.profile {
  padding: 60px;
  background-color: rgb(215, 221, 226);
  width: 60%;
  max-width: 350px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.description {
  display: block;
  padding: 20px;
  text-align: center;
  background: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.avatar {
  margin: 20px;
  width: 170px;
  height: 170px;
  border-radius: 100px;
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.name {
  color: #494949;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.tag,
.location {
  color: #8c898a;
  font-size: 20px;
  font-weight: 500;
}

.media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid rgb(215, 221, 226);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.label {
  color: #8c898a;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
}

.stats {
  color: #494949;
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 15px;
}

.item:last-child {
  border-left: 1px solid rgb(215, 221, 226);
}

.item:first-child {
  border-right: 1px solid rgb(215, 221, 226);
}
